*{margin:0;
padding:0;
box-sizing: border-box;}

body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif sans-serif;
    background-color: gray;
    color:yellowgreen
}
h1,p{
    padding:1.5rem
}
a{
    color:crimson;
    padding:.5rem;
    text-decoration: none;
    display:inline-block
}
h1,h2{
    color:tomato
}